#IntelliJ files
/.DS_Store
/validation/efficiency/simulated/data/xml/
/validation/sampleprior/internal_nodes/xml/
/validation/efficiency/simulated/xmls/xml/
/optimization/other_three_datasets/template/xml/
optimization/primates_analysis/prior_optimize/template/xml/
/.idea
/ConstantDistanceOperator.iml
/out
/META-INF
/artifacts
/production
.DS_Store
/release
/build
