#IntelliJ files
/.DS_Store
/validation/sampleprior/internal_nodes/xml/
/optimization/other_three_datasets/template/xml/
/.idea
/ConstantDistanceOperator.iml
/out
/META-INF
/artifacts
/production
.DS_Store
/release
/build
